<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="eclipse">
         <property
               name="appName"
               value="eclipse">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="eclipse">
         <property
               name="appName"
               value="eclipse">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="iouseph.4.eclipse.selectionset">
      <!--with variable="org.eclipse.ui.selection">
    <iterate ifEmpty="false" operator="or">
      <instanceof value="model.Track">
      </instanceof>
    </iterate>
    </with-->
    <with
               variable="myactivePartId">
            <equals
                  value="parts.SearchPart">
            </equals>
         </with>
  </definition>
   </extension>

</plugin>
