<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Deezer">
         <property
               name="appName"
               value="Deezer">
         </property>
      </product>
   </extension>
   <extension
         id="iouseph.4.eclipse.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="deezer.e4xmi">
      </fragment>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="eclipse">
         <property
               name="appName"
               value="eclipse">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="iouseph.4.eclipse.selectionset">
         <with
               variable="myactivePartId">
            <equals
                  value="parts.OverviewPart">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
